// See http://eslint.org/docs/rules/padding-line-between-statements

{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "class-methods-use-this": 0,
    "complexity": [ 1, 5 ],
    "no-multiple-empty-lines": [ 2, { "max": 1, "maxEOF": 0, "maxBOF": 0 } ],
    "no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
    "no-use-before-define": [ 2, { "functions": false } ],
    "prefer-const": 1,
    "padding-line-between-statements": [
      "error",
      {
        blankLine: "always",
        prev: "*",
        next: ["return", "throw", "multiline-block-like"]
      },
      {
        blankLine: "always",
        prev: "multiline-block-like",
        next: "*"
      }
    ],
    "require-jsdoc": ["error", {
      "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": true
      }
    }],
    "valid-jsdoc": ["error", {
      "prefer": {
        "arg": "param",
        "argument": "param",
        "class": "constructor",
        "returns": "return",
        "virtual": "abstract"
      },
      "preferType": {
        "Boolean": "boolean",
        "Number": "number",
        "object": "Object",
        "String": "string"
      },
      "requireReturn": true,
      "requireReturnType": true,
      "requireParamDescription": true,
      "requireReturnDescription": false
    }],

    // react
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 2,
    "react/no-danger": 0,
  }
}
