.page-footer {
  background: $primary-color;

  a {
    color: white;
    font-weight: 100;

    &:hover {
      color: #ddd;
    }
  }
  h6 {
    font-weight: bolder;
    text-transform: capitalize;
  }

  .footer-copyright {
    background: #071a53;
    background: darken($primary-color, 10%);

    ul li {
      display: inline;
      margin: 0 5px;
    }
  }
}
