footer a {
  color: white;
  font-weight: 100;
}
footer a:hover {
  color: #ddd;
}

.page-footer h6 {
  font-weight: bolder;
  text-transform: capitalize;
}

.footer-copyright ul li {
  display: inline;
  margin: 0 5px;
}
