@import 'Variables';

nav {
  background: $primary-color;

  .logo {
    font-size: 2.1rem;
  }

  .ShoppingCart--MobileHeader {
    float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
    font-size: 1.5em;
  }
}
