@import "materialize-css/sass/materialize";

$user-primary-color: #283593;

.Chat__Button {
}

.Chat__Window {
  @extend .z-depth-4;
  width: 85%;
  max-width: 320px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;

  .material-icons {
    cursor: pointer;
  }
}

.Chat__Window__Header {
  background: #6a1b9a;
  color: white;
  padding: 5px 8px;
  border-radius: 5px 5px 0 0;
}

.Chat__Window__Main {
  padding: 20px;
  background: white;
  min-height: 20vh;
  max-height: 50vh;
  overflow-y: scroll;
  width: 100%;
  white-space: nowrap;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.Chat__Window__MessageWrapper {
  clear: both;
  white-space: pre-wrap;

  &.first-from-owner {
    margin-top: 1em;
  }
}

.Chat__Window__Image {
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: 20px 20px 20px 0;
}

.Chat__Window__BotMessage,
.Chat__Window__UserMessage,
.Chat__Window__QuickReply {
  padding: 10px;
  border-radius: 20px 20px 20px 0;
  display: inline-block;
  margin: 5px 0;
  max-width: 80%;
  word-wrap: break-word;
}

.Chat__Window__BotMessage {
  background: #ccc;
  a {
    text-decoration: underline;
  }
}

.Chat__Window__UserMessage {
  background: $user-primary-color;
  color: white;
  border-radius: 20px 20px 0 20px;
  float: right;
  clear: both;
}

.Chat__Window__QuickReply {
  @extend .z-depth-1;
  height: 34px;
  line-height: 30px;
  padding: 0 12px;
  border-radius: 20px;
  margin: 0 5px;
  background: none;
  border: 2px solid $user-primary-color;
  color: $user-primary-color;
  cursor: pointer;

  > img {
    float: left;
    margin: 0 8px 0 -12px;
    border-radius: 50%;
    border: 2px solid $user-primary-color;
    position: relative;
    top: -1px;
    left: -1px;
    height: 32px;
    width: 32px;
  }
  .fa {
    border-radius: 500px;
    padding: 5px;
    position: relative;
    left: -13px;
    background: $user-primary-color;
    color: white;
    font-size: 1.2em;
    display: inline-block;
    width: 34px;
    border: 2px solid $user-primary-color;
  }
}

.Chat__Window__QuickReplies__Wrapper {
  text-align: center;
  margin-top: 2em;
  overflow-x: scroll;
}

.Chat__Window__Footer {
  border-radius: 0 0 5px 5px;
  padding: 15px;
  background: #cfd8dc;
}

.Chat__Window__Input {
  @extend .browser-default;
  resize: none;
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, .2);
  padding: 10px;
  background: white;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px -1px purple;
  }
}
