@import "materialize-css/sass/materialize";

$bot-primary-color: lighten(#ddd, 5%);
$bot-secondary-color: black;
$user-primary-color: lighten(#283593, 20%);
$user-secondary-color: white;
$window-radius: 8px;

.Chat__Button {
  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }

    50% {
      transform: scale3d(1.25, 1.25, 1.25);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }
}

.Chat__Footer {
  border-radius: 0 0 $window-radius $window-radius;
  padding: 15px;
  background: #cfd8dc;
  position: relative;

  textarea {
    resize: none;
    width: 100%;
    border-radius: $window-radius;
    border: 2px solid rgba(0, 0, 0, .2);
    padding: 10px;
    background: white;
    &:focus {
      outline: none;
      box-shadow: 0 0 5px -1px purple;
    }
  }
}

.Chat__Header {
  background: #6a1b9a;
  color: white;
  padding: 9px;
  border-radius: $window-radius $window-radius 0 0;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2), 0 2px 6px rgba(0, 0, 0, .3);
}

.Chat__Main {
  padding: 20px;
  position: relative;
  background: white;
  height: 60vh;
  max-height: 500px;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.Chat__Window {
  @extend .z-depth-4;
  width: 85%;
  max-width: 400px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  border-radius: $window-radius;

  ul {
    list-style: none;
  }

  .material-icons {
    cursor: pointer;
  }
}
