@import 'materialize-css/sass/materialize';

$bot-primary-color: #d8d8d8;
$bot-secondary-color: black;
$user-primary-color: lighten(#283593, 20%);
$user-secondary-color: white;
$window-radius: 8px;
$box-shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
$send-button-color: #039be5;
$card-border-color: #ddd;

.Chat__Button {
  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.25, 1.25, 1.25);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
  }
}
.Chat__Footer {
  background: #cfd8dc;
  // box-shadow: 0px -1px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 1;

  @media #{$medium-and-up} {
    padding: 1em;
  }
  textarea {
    background: white;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    height: 44px;
    outline: none;
    padding: 8px;
    resize: none;

    &:focus {
      outline: none;
    }
    @media #{$medium-and-up} {
      border-radius: 5px 0 0 5px;

      &:focus {
        box-shadow: 0 0 5px -1px $send-button-color;
        outline: none;
      }
    }
  }
}
.Chat__Header {
  background: #6a1b9a;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 6px 10px;
  position: relative;
  z-index: 1;

  @media screen and (max-height: 300px) {
    display: none;
    margin-top: -8px;
    padding-bottom: 0;
    top: 5;
  }
  i {
    font-size: 20px;
    position: relative;
    top: 0px;
  }
}
.Chat__Main {
  background: #fafafa;
  flex-direction: column;
  flex: 1 0 auto;
  height: 10vh;
  margin-bottom: auto;
  overflow-x: hidden;
  padding: 0.5em;
  position: relative;
  white-space: nowrap;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  @media #{$medium-and-up} {
    height: 60vh;
    max-height: 500px;
    padding: 1em;
  }
}
.Chat__Send__Button {
  background: $send-button-color;
  border: 0;
  color: white;
  padding: 0 1em;

  &:focus {
    background: lighten($send-button-color, 10%);
  }

  @media #{$medium-and-up} {
    border-radius: 0 5px 5px 0;
  }
}
.Chat__Window {
  bottom: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 997;
  –webkit-transform: tranzlateZ(0);

  @media #{$small-and-down} {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  @media #{$medium-and-up} {
    width: 85%;
    max-width: 400px;
    right: 20px;
    bottom: 20px;
    border-radius: 0.5em;
  }
  .material-icons {
    cursor: pointer;
  }
}
