@import 'materialize-css/sass/materialize';

$bot-primary-color: #ddd;
$bot-secondary-color: black;
$user-primary-color: lighten(#283593, 20%);
$user-secondary-color: white;
$window-radius: 8px;
$box-shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
$color-send-button: #039be5;

.Chat__Button {
  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.25, 1.25, 1.25);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
  }
}
.Chat__Footer {
  background: #cfd8dc;
  display: flex;
  padding: 1em;

  textarea {
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 0 0 5px;
    resize: none;

    &:focus {
      box-shadow: 0 0 5px -1px $color-send-button;
      outline: none;
    }
  }
}
.Chat__Header {
  background: #6a1b9a;
  color: white;
  padding: 9px;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.3);
}
.Chat__Main {
  padding: 20px;
  position: relative;
  background: white;
  height: 60vh;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;

  @media #{$small-and-down} {
    flex: 1 0 auto;
    margin-bottom: auto;
  }
  @media #{$medium-and-up} {
    // height: 60vh;
    max-height: 500px;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.Chat__Send__Button {
  background: $color-send-button;
  border: 0;
  border-radius: 0 5px 5px 0;
  color: white;
  padding: 0 1em;
}
.Chat__Window {
  bottom: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 997;

  @media #{$small-and-down} {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  @media #{$medium-and-up} {
    width: 85%;
    max-width: 400px;
    right: 20px;
    bottom: 20px;
    border-radius: 0.5em;
  }
  .material-icons {
    cursor: pointer;
  }
}
