@import 'index';

.Chat__Messages {
  li {
    &.first-from-sender {
      margin-top: 2em;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}
.Chat__Message,
.Chat__Message--Bot,
.Chat__Message--Bot--Typing,
.Chat__Message--User {
  background: linear-gradient(lighten($bot-primary-color, 7%), $bot-primary-color);
  border-radius: 15px;
  clear: both;
  display: block;
  margin: 5px 0;
  max-width: 80%;
  padding: 0.5em 1em;
  white-space: pre-line;
  word-wrap: break-word;
}
.Chat__Message--Bot {
  border-bottom-left-radius: 3px;
  float: left;
}
.Chat__Message__Buttons {
  padding-top: 0;
  padding-bottom: 0;
  background: white;
  width: 100%;
  border: 1px solid $bot-primary-color;
  text-align: center;

  li:not(:last-of-type) {
    padding: 0 0 15px;
    border-bottom: 1px solid $bot-primary-color;
  }
}
.Chat__Message--Image {
  padding: 0;
}
.Chat__Message--User {
  background: linear-gradient(lighten($user-primary-color, 10%), $user-primary-color);
  border-bottom-right-radius: 3px;
  color: white;
  float: right;
}
.Chat__Cards {
  display: flex;
  margin-top: 2em;
  overflow-x: scroll;
  text-align: center;
  padding-bottom: 1em;

  .Chat__Card {
    margin-right: 0.5em;
  }
}
.Chat__Card {
  // @extend .z-depth-2;
  background: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  padding: 0;
  white-space: initial;
  width: 80%;
}
.Chat__Card__Header {
  background: radial-gradient(#555, #333);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 150px;
    display: block;
    width: 100%;
  }
}
.Chat__Card__Main {
  text-align: left;
  padding: 0.5em;
  margin-bottom: auto;
}
.Chat__Card__Main__title {
  font-weight: bold;
  font-size: 1.1em;
}
.Chat__Card__Main__subtitle {
  line-height: 1.3;
  color: #999;
  white-space: pre-line;
}
.Chat__Card__Buttons {
  text-align: center;
  padding: 0;

  li {
    list-style: none;
    border-top: 1px solid #ddd;
    padding: 0.5em 0;

    a {
      color: darken(#039be5, 10%);
    }
  }
}
.Chat__Message--Typing {
  will-change: transform;
  padding: 14px;
  display: table;
  animation: 2s bulge infinite ease-out;

  span {
    height: 0.8em;
    width: 0.8em;
    float: left;
    margin: 0 1px;
    background: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * 0.3333s);
      }
    }
  }
  @keyframes blink {
    50% {
      opacity: 1;
    }
  }
  @keyframes bulge {
    50% {
      transform: scale(1.05);
    }
  }
}
.Chat__QuickReplies {
  overflow-x: scroll;
  text-align: center;
  padding: 1em;
}
.Chat__QuickReply {
  display: inline;
  background: none;
  border: 2px solid $user-primary-color;
  border-radius: 100px;
  color: $user-primary-color;
  padding: 5px 15px;
  position: relative;
  cursor: pointer;
  margin-right: 5px;

  img {
    border-radius: 100px;
    border: 2px solid $user-primary-color;
    position: relative;
    left: -16px;
    top: 10px;
    width: 29px;
    height: 29px;
  }
}
.Chat__QuickReply__icon {
  background: $user-primary-color;
  border-radius: 100px;
  border: 2px solid $user-primary-color;
  color: white;
  padding: 5px 8px;
  position: relative;
  left: -16px;
}
