@import "index";

.Chat__QuickReplies {
  margin: 2em 0 0;
  overflow-x: scroll;
  padding: 1em 0;
  text-align: center;

  li {
    display: inline-block;
  }
}

.Chat__QuickReply {
  @extend .z-depth-1;
  height: 34px;
  line-height: 30px;
  padding: 0 12px;
  border-radius: 20px;
  margin: 0 5px;
  background: none;
  border: 2px solid $user-primary-color;
  color: $user-primary-color;
  cursor: pointer;
  vertical-align: bottom;

  > img {
    float: left;
    margin: 0 8px 0 -12px;
    border-radius: 50%;
    border: 3px solid $user-primary-color;
    position: relative;
    top: -1px;
    left: -1px;
    height: 32px;
    width: 32px;
  }
  .fa {
    border-radius: 500px;
    padding: 4px;
    position: relative;
    left: -13px;
    background: $user-primary-color;
    color: white;
    font-size: 1.2em;
    display: inline-block;
    width: 30px;
    border: 3px solid $user-primary-color;
  }
}
